.deleteform__close-button {
    position: relative;
    left: 295px;
    top: -30px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../images/close_icon.svg);
}