@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Play&display=swap');

.deleteform__submit {
    width: 75px;
    height: 25px;
    background-color: #6495ED;;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Play', sans-serif;
    cursor: pointer;
}