@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Play&display=swap');

.section__bot_remover {
    width: 175px;
    background-color: #6495ED;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Play', sans-serif;
    cursor: pointer;
}
.section__bot_remover:disabled,
.section__bot_remover[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media all and (max-width: 800px) {
    .section__bot_remover {
       width: 41%;
       height: 100%;
       font-size: 15px;
    }
  }

  @media all and (max-width: 550px) {
    .section__bot_remover {
       font-size: 10px;
    }
  }