@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Play&display=swap');

.section__top_input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
    border-width: 1px;
    border-color: chocolate;
    color: #6495ED;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Play', sans-serif;
}

@media all and (max-width: 800px) {
    .section__top_input {
       width: 89%;
       margin-right: 3%;
    }
}

