@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Play&display=swap');

.section__bot_progressBar-text {
    position: relative;
    bottom: 29px;
    margin: 0;
    padding-top: 5px;
    width: 100%;  
    font-family: 'Londrina Solid', cursive;
    font-family: 'Play', sans-serif;
    text-align: center;
    
}

@media all and (max-width: 800px) {
    .section__bot_progressBar-text{
       font-size: 15px;
    }
  }

  @media all and (max-width: 550px) {
    .section__bot_progressBar-text{
       font-size: 10px;
       padding-top: 10px;
    }
  }

  @media all and (max-width: 293px) {
   .section__bot_progressBar-text{
      padding-top: 4px;
   }
 }