@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Play&display=swap');

.section__bot_progressBar-text {
    margin: 0;
    padding-top: 5px;
    width: 200px;
    height: 20px;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Play', sans-serif;
    text-align: center;
}

@media all and (max-width: 800px) {
    .section__bot_progressBar-text{
       font-size: 10px;
       text-align: center;
    }
  }

